<footer class="footer" id="footer">
    <div class="content content--md">
        <div class="footer-main">
            <div class="part">
                <a href="#" class="btn btn--md btn--trans btn--trans-white btn--rnd donate-btn">Пожертвовать</a>
            </div>
            <div class="part">
                <div class="part">
                    <div class="footer-nav">
                        <ul class="nav">
                            <li><a href="stocks-current.html" class="@@stocksCur">Акции</a></li>
                            <li><a href="rating.html" class="@@rating">Рейтинг</a></li>
                            <li><a href="my-rating.html" class="@@myrating">Мой рейтинг</a></li>
                            <li><a href="holdings.html" class="@@holdings">Фонды</a></li>
                            <li><a href="about-us.html">О нас</a></li>
                            <li><a href="rules.html">Правила участия</a></li>
                            <li><a href="enter.html">Войти</a></li>
                        </ul>
                    </div>
                </div>
                <div class="part">
                    <div class="footer-contacts">
                        <div><a href="tel:+73519498498">+7 (3519) 49-84-98</a></div>
                        <div><a href="mailto:charity@magnitogorsk.ru">charity@magnitogorsk.ru</a></div>
                        <div>г. Магнитогорск, парк у Вечного огня</div>
                        <h4 class="title">
                            Присоединяйтесь к нам
                        </h4>
                        <div class="share">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icon in">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-in"/>
                                            </svg>
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon fb">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-fb"/>
                                            </svg>
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon vk">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-vk"/>
                                            </svg>
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon ok">
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share-ok"/>
                                            </svg>
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            Разработка сервиса <a href="reconcept.ru">Reconcept</a>
        </div>
    </div>
</footer>



