<header id="header" class="header">
    <div class="content content--md">
        <div class="header-main">
            <a href="index.html" class="logo">
                <img src="assets/svg/partials/logo.svg" alt="Километры добра" width="185">
            </a>
            <nav class="header-nav">
                <ul class="nav">
                    <li><a href="stocks-current.html" class="@@stocksCur">Акции</a></li>
                    <li><a href="rating.html" class="@@rating">Рейтинг</a></li>
                    <li><a href="my-rating.html" class="@@myrating">Мой рейтинг</a></li>
                    <li><a href="donate.html" class="@@donate">Пожертвовать</a></li>
                    <li><a href="holdings.html" class="@@holdings">Фонды</a></li>
                    <li><a href="about-us.html" >О нас</a></li>
                    <li><a href="contacts.html" class="@@contacts">Контакты</a></li>
                </ul>
                <div class="accessibility-mode">
                    <a href="javascript:void(0);">
                        <i class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"/>
                            </svg>
                        </i>
                    </a>
                </div>
            </nav>
            <button id="burger" class="burger" type="button"><span></span></button>
        </div>
    </div>
</header>
