.error-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  .error {
    display: flex;
    align-items: center;

    font-weight: 600;
    margin-bottom: 40px;
    @include media(hover,768){
      font-size: 220px;
    }
    @include breakpoints(601,767){
      font-size: 140px;
    }
    @include media(screen,600){
      font-size: 80px;
    }
    .digit-left {
      color: #00508e;
    }
    .digit-right {
      color: #039da3;
    }
    .logo {
      @include media(hover,601){
        margin: 0 -15px;
      }

      img {

        display: block;
        @include media(hover,768){
          width: 340px;
        }
        @include breakpoints(601,767){
          width: 210px;
        }
        @include media(screen,600){
          width: 140px;
        }
      }
    }
  }
  .error-text {

    font-weight: 600;
    margin-bottom: 40px;
    @include fontsize1200(24px);
    @include fontsize1024(24px);
    @include breakpoints(768,1024){
      font-size: 24px;
    }
    @include media(screen,767){
      font-size: 20px;
    }
  }
}