.offer {
  &-banner {
    @include media(screen,767){
      max-height: 50vw;
    }
  }
  &-status {
    position: relative;
    z-index: 1;
    .status {
      display: inline-flex;
      font-weight: 600;
      color: $white;
      @include fontsize1200(24px);
      @include fontsize1024(24px);
      @include breakpoints(768,1024){
        font-size: 24px;
      }
      @include media(hover,768){
        padding: 24px 60px;
      }
      @include breakpoints(421,767){
        font-size: 18px;
        padding: 12px 30px;
      }
      @include media(screen,420){
        font-size: 15px;
        padding: 12px 24px;
      }
      &.closed {
        background-color: $btn_red;
      }
      &.opened {
        background-color: $link;
      }
    }
  }
  &-logo {
    @include media(hover,1025){
      margin-left: auto;
      margin-top: 15px;
    }
    @include media(screen,1024){
      margin-bottom: 30px;
    }
    img {
      display: block;
      max-width: 100%;
      @include media(hover,1025){
        margin-left: auto;
      }
    }
  }
  &-data {
    .date,
    .location {
      font-weight: 600;
      @include fontsize1200(24px);
      @include fontsize1024(24px);
      @include breakpoints(768,1024){
        font-size: 24px;
      }
      @include media(hover,768){
        margin-bottom: 28px;
      }
      @include media(screen,767){
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
  }
  &-gallery {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    &--wrap {
      margin-top: 40px;
      width: 100%;
      position: relative;
    }
    &--box {
      width: 100%;
      padding-top: 65%;
      position: relative;
      height: 0;
    }
    .swiper-button-white {
      outline: none;
      position: absolute;
      background-color: #fff;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
      @include media(hover,768){
        height: 128px;
        width: 64px;
      }
      @include breakpoints(601,767){
        height: 64px;
        width: 32px;
      }
      @include media(screen,600){
        height: 48px;
        width: 24px;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        @include media(hover,768){
          border-width: 42px 26px;
        }
        @include breakpoints(601,767){
          border-width: 24px 16px;
        }
        @include media(screen,600){
          border-width: 18px 10px;
        }
      }
      &:before {
        border-color: transparent $text;
      }
      &:after {
        border-color: transparent $white;
      }
    }
    .swiper-button-disabled {
      cursor: default;
      &:before {
        opacity: 0.35;
      }
    }
    .swiper-button-next {
      &:before,
      &:after {
        border-style: solid none solid solid;
      }
      &:after {
        transform: translateX(-2px);
      }
      @include media(hover,1025){
        right: -32px;
      }
      @include media(screen,1024){
        right: -15px;
      }
    }
    .swiper-button-prev {
      &:before,
      &:after {
        border-style: solid solid solid none;
      }
      &:after {
        transform: translateX(2px);
      }
      @include media(hover,1025){
        left: -32px;
      }
      @include media(screen,1024){
        left: -15px;
      }
    }
  }
}