.main-banner {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include media(hover,1201){
    &.homepage-banner {
      height: 663px;
    }
    &.offer-banner {
      height: 600px;
    }
  }
  @include media(screen,1200){
    height: 480px;
  }
  .slider {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}