<div class="offer-item">
    <div class="item-box">
        <a href="@@link" target="_blank" class="item-img">
            <picture>
                <source type="image/webp" srcset="assets/images/offers/@@image.webp">
                <source type="image/jpeg" srcset="assets/images/offers/@@image.jpg">
                <img src="assets/images/offers/@@image.jpg" alt="@@image">
            </picture>
            <div class="@@statusClass">@@statusTitle</div>
        </a>
        <div class="item-info">
            <div class="item-data">
                <div class="date">
                    <i class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"/>
                        </svg>
                    </i>
                    @@date
                </div>
                <div class="location">
                    <i class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mark"/>
                        </svg>
                    </i>
                    @@location
                </div>
            </div>
            <h3 class="item-title">
                <a href="@@link" target="_blank">@@title</a>
            </h3>
            <div class="item-action">
                <a href="@@link" target="_blank" class="btn btn--sm btn--blue">Подробнее</a>
                <a href="#">Фото</a>
                <a href="#">Рейтинг участников</a>
            </div>
        </div>
    </div>
</div>